<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GamesMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Catamaran">
    
    <style>
        .googlefont{
            font-family:"Quicksand", sans-serif;
        }
        .Logo_Text{
            font-family:"Pacifico", sans-serif;
        }
        .heading_text_style_all{
            font-family:"Catamaran", sans-serif;
        }
        .top_of_page{
            background: -webkit-linear-gradient(right, #bdc3c7, #2c3e50);
        }

    </style>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-secondary border-bottom text-uppercase box-shadow mb-3 fixed-top font-weight-bold justify-content-end">
            <div class="container">
                <a class="navbar-brand text-light Logo_Text" asp-area="" asp-controller="Home" asp-action="Index">Games MVC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top bg-secondary footer text-muted">
        <div class="container text-light">
            &copy; 2022 - GamesMVC - <a class="text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
